<div class="modal-header">
	<h3>{{'CHANGE_PASSWORD'|translate}}</h3>
</div>
<div class="modal-body">
	<div>
		<label style="float:left; width:140px;">{{'ORIGINAL_PASS'|translate}}：</label>
		<input style="margin-left:100px;" type="password" ng-model="oldPassword" required />
	</div>
	<div>
		<label style="float:left; width:140px;">{{'NEW_PASS'|translate}}：</label>
		<input style="margin-left:100px;" type="password" ng-model="newPassword" required />
	</div>
	<div>
		<label style="float:left; width:140px;">{{'CONFIRM_PASS'|translate}}：</label>
		<input style="margin-left:100px;" type="password" ng-model="confirmPassword" required></input>
	</div>
</div>
<div class="modal-footer">
	<span style="float:left">{{message | translate}}</span>
	<button class="btn btn-primary" ng-click="ok(oldPassword, newPassword, confirmPassword)">{{'OK'|translate}}</button>
	<button class="btn btn-warning" ng-click="cancel()">{{'CANCEL'|translate}}</button>
</div>
