<div>
	<div class="hero-unit" id="big-one">
		<div class="container">
			<div class="row">
				<h1>&nbsp;</h1>
				<p class="lead">&nbsp;</p>
			</div>
		</div>
	</div>

	<div ui-view>
		<!-- 此处放置模板 -->
	</div>

	<div id="footer" class="row-fluid">
	<hr />
	<div class="span11">
        <div ng-controller="TranslateCtrl" >
            <button style="width:100px" ng-click="changeLanguage('en_us')" translate="BUTTON_TEXT_EN"></button>
            <button style="width:100px" ng-click="changeLanguage('cn_zh')" translate="BUTTON_TEXT_CN"></button>
        </div>
		<p style="text-align:right" localization>{{ 'ABOUT_TEAM' | translate }}</p>
		<p> &nbsp; </p>
	</div>
	</div>
</div>