<div id="filecontrol" class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<ul class="nav nav-tabs">
				<!-- 个人文件标签页 -->
				<li class="active dropdown" id="ownedfile">
					<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
						<span>{{'OWNING_FILES' | translate}}</span><b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<!-- 新建文件 -->
						<li><a href="#newfile" data-toggle="modal">{{'NEW_FILE' | translate}}</a></li>
						<!-- 新建文件夹 -->
						<li><a href="#newfile" data-toggle="modal">{{'NEW_FOLDER' | translate}}</a></li>
					</ul>
				</li>
				<!-- 共享文件标签页 -->
				<li id="sharedfile"><a ui-sref="sharedfile">{{'SHARED_FILES' | translate}}</a></li>
			</ul>
		</div>
	</div>
	
	<div class="row-fluid" id="file-list">
		<div class="span10">
			<p><span>{{'CURRENT_DIR' | translate}}:</span><span id="current-dir"></span></p>
			<!-- 文件列表 -->
			<table class="table table-hover" id="file-list-table">
				<tbody>
					<tr class="head">
						<th class="col1">&nbsp;</th>
						<th class="col2">{{"FILE_NAME" | translate}}</th>
						<th class="col3">{{"STATUS" | translate}}</th>
						<th class="col4">{{"MODIFY_TIME" | translate}}</th>
						<th class="col5">&nbsp;</th>
					</tr>
					<tr ng-hide="list.length">
						<td class="col1"></td>
						<td class="col2">{{"NO_FILE" | translate}}</td>
					</tr>
					<tr ng-repeat="doc in list">
						<td class="col1"><img src={{doc.iconPath}}></td>
						<td class="col2"><a href="javascript:;">{{doc.fileName}}</a></td>
						<td class="col3"></td>
						<td class="col4">{{doc.modifyTime}}</td>
						<td class="col5 dropdown">
							<a href="javascript:;" class="dropdown-toggle opreation">&nbsp;</a>
							<ul class="dropdown-menu">
								<li ng-repeat="item in dropdownItems"><a href={{item.href}}>{{item.text | translate}}</a></li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="span2">
			<span>{{'SHARE_USER' | translate}}</span>：
			<div id="member-list">
				<img src="images/character.png" width="40" height="40" class="pull-left shared-character"/>
			</div>
		</div>
	</div>
</div>