<!-- 导航栏 -->
<div class="navbar navbar-fixed-top" id="nav-head" ng-controller="NavbarCtrl">
	<div class="navbar-inner">
		<div class="container" style="width: auto; padding: 0 20px;">
			<a class="brand" href="#">Popush</a>
			<ul class="nav pull-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span id="nav-user-name">{{'USERNAME' | translate}}</span>
					<img height="32" width="32" src="#" id="nav-avatar" />
					</a>
					<ul class="dropdown-menu">
						<li><a href="#changepassword" data-toggle="modal" localization>{{'CHANGE_PASSWORD' | translate}}</a></li>
						<li><a href="#changeavatar" data-toggle="modal" localization>{{'CHANGE_AVATAR' | translate}}</a></li>
						<li class="divider"></li>
						<li><a href="javascript:;" localization>{{'LOGOUT' | translate}}</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>

<!-- 模态框 -->
