<div id="myregister">
	<div>
		<h2 style="text-align:center" class="blink">{{'REGISTER' | translate}}</h2>
		<div class="alert" id="register-message">
			<button type="button" class="close">&times;</button>
			<span>{{message}}</span>
		</div>
		<hr />
		<form id="register-box" class="form-horizontal" style="min-width:420px;position:relative;" ng-submit="registerSubmit()">
			<div class="control-group">
				<label class="control-label" for="register-inputName">{{'USERNAME' | translate}}</label>
				<div class="controls">
					<input type="text" id="register-inputName" ng-model="registerName" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="register-inputPassword">{{'PASSWORD' | translate}}</label>
				<div class="controls">
					<input type="password" id="register-inputPassword" ng-model="registerPassword"/>
				</div>
			</div>
			<div class="control-group" id="register-padding">
				<label class="control-label" for="register-inputPassword" >{{'CONFIRM_PASSWORD' | translate}}</label>
				<div class="controls">
					<input type="password" id="register-confirmPassword" ng-model="confirmPassword"/>
				</div>
			</div>
			<div class="control-group">
				<div class="controls" id="register-control">
					<button type="submit" class="btn">{{'REGISTER' | translate}}</button>
					<a class="switch-rel" ui-sref="login">{{'LOGIN' | translate}}</a>
				</div>
			</div>
		</form>
	</div>
</div>